{% extends "base.html" %}

{% block content %}

<div class="p-5" style="background-color: Seashell;">
{%if row==None: %}
  <h2 style="margin-top:110px; color: black" class="text-center">The Selected Customer Details are not Available !!!</h2>
  <a href="/searchCustomer"> <button class="btn btn-warning mt-3" style="margin-left:450px">Search Again</button></a>
{% else %}

  <h2 style="margin:120px 0 0 320px; color: black">The Required Customer Details :</h2>
  <form style="margin:15px 0 0 420px">   
    
    <div class="d-flex">
       <h5 class="pt-4" style="color: black">Customer ID :</h5>
       <h3 style="color: yellow" class="pt-3 pl-2"> {{row[0]}} </h3>
    </div>
    
    <div class="d-flex pt-3">
      <h5 class="pt-2" style="color: black">Name : </h5>
      <h3 style="color: yellow" class="pl-2"> {{row[1]}} </h3>
    </div>
    
    <div class="d-flex pt-3">
      <h5 class="pt-2" style="color: black">Address : </h5>
      <h3 style="color: yellow" class="pl-2"> {{row[2]}} </h3>
    </div>
    
    <div class="d-flex pt-3">
      <h5 class="pt-2" style="color: black">City : </h5>
      <h3 style="color: yellow" class="pl-2"> {{row[3]}} </h3>
    </div>
    
    <div class="d-flex pt-3">
      <h5 class="pt-2" style="color: black">State : </h5>
      <h3 style="color: yellow" class="pl-2"> {{row[4]}} </h3>
    </div>
    
    <div class="d-flex pt-3">
      <h5 class="pt-2" style="color: black">Phone : </h5>
      <h3 style="color: yellow" class="pl-2"> {{row[5]}} </h3>
    </div>
    
    <a href="/searchCustomer"> <button class="btn btn-warning mt-3">Search Again</button></a>
       
   </form>

{% endif %}
</div>

{% endblock %}
